{% include "header.html" %}
{% load static %}

<div id="who_we_are">
  <div class="who_img">

  </div>

  <div class="who_container">
    <div class="who_header">
      <h1 class="blue_header">¿Por que los flamencos se paran a una pata?</h1>
    </div>
    <div class="who_txt">
      <p>
          Es lo que preguntan tanto los biólogos como quienes visitan zoológicos.
          Aunque hay muchas teorías, ninguna ha dado con la respuesta definitiva.
          <br><br>
          Después de un estudio exhaustivo de flamencos del Caribe en cautiverio,
          dos científicos creen haber dado con la respuesta:
          <br><br>
          los flamencos se sostienen sobre una pata para regular su temperatura corporal.
      </p>
    </div>
  </div>
</div>

<ul>
	{% for i in movies %}
	    <li>{{ i.movietitle }}</li>
	{% endfor %}
</ul>
<br><br>
<a href="javascript:hola()">Click aquí</a>
{% include "footer.html" %}
